/* ----------------------------------------------------------------------------
    Project Styles
----------------------------------------------------------------------------- */
html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'Roboto Slab', 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color: #fff;
    background: #2A2054;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    overflow-y: scroll;
}
.container {
    max-width: 1200px;
}
.container-fluid.but-fixed {
    max-width: 1230px;
}
.game-row {
    display: none;
}
.status-area {
    margin: 20px auto;
    padding-left: 30px;
    padding-right: 30px;
}
.question {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.choices {
    flex-wrap: wrap;
    text-align: center;
}
.choices button {
    margin: 15px;
    width: calc(50% - 30px);
    white-space: wrap !important;
}
